*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  body{
    background: #9E9E9E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  .counter{
    font-size: 50px;
  }
  button{
    background: #2196F3;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
  }
  h2 a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    opacity: 0.6;
  }